main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
}

 @media screen and (max-width: 1024px ) {
  
  main {
    width: 100%;
  }
}


 @media screen and (max-width: 580px) {

  main ul {
    grid-template-columns: 1fr;
  }

 }